@import '@/vars.module.scss';

.searchPage {
  padding: 3vh 10px 5vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 clamp(0px, 1vw, 30px);
  text-align: right;
}

.breedsCountLabel,
.breedsCountInput,
.errorBtn {
  font-size: clamp(14px, 2vw, 16px);
}

.breedsCountLabel {
  font-family: $daysOneFont;
  color: $darkBlue;
}

.breedsCountInput {
  margin-left: 10px;
  padding: 5px;
  border: 2px solid $blue;
  border-radius: 7px;
  text-align: center;
}

.errorBtn {
  padding: 5px 15px;
  border-radius: 7px;
}

.title {
  margin-top: 20px;
  font-family: $daysOneFont;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(22px, 5vw, 35px);
  color: $darkBlue;
}
