@import '@/vars.module.scss';

.breedsCountLabel,
.breedsCountInput {
  font-size: clamp(14px, 2vw, 16px);
}

.breedsCountLabel {
  font-family: $daysOneFont;
  color: $darkBlue;
}

.breedsCountInput {
  margin-left: 10px;
  padding: 5px;
  border: 2px solid $blue;
  border-radius: 7px;
  text-align: center;
}
