$lightBlue: #86ebf8;
$darkBlue: #01586f;
$blue: #02b1c8;
$red: #d50d0f;
$coral: #ff7f50;
$white: #fff;
$black: #000;
$grey: #808080;
$daysOneFont: 'Days One', sans-serif;
$robotoFont: 'Roboto', sans-serif;
