@import '@/vars.module.scss';

.cards {
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
}

.noResults {
  display: flex;
  gap: clamp(5px, 1vw, 10px);
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  color: $grey;
  font-size: clamp(20px, 4vw, 30px);
}

.loader {
  padding-top: 12vh;
}
